## Why bagging?

![alt text](https://cdn-images-1.medium.com/max/1000/1*DFHUbdz6EyOuMYP4pDnFlw.jpeg)

We normalized influence points for every each output from models, different definition, reduce bias every each models.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('augmented.csv')
df.head()

,geohash6,day,timestamp,demand,lat,lat_err,long,long_err,h,m,dow,latlong_pca0,latlong_pca1,latlongerror_pca0,latlongerror_pca1,latlong_cluster,latlongerror_cluster,time_delta,time_delta_sin,hour_sin
0,212,18,20:0,0.020072,-5.353088,0.002747,90.653687,0.005493,20,0,4,45.348186,0.012163,-45.45809,-0.000014,3,1,4.833333,0.682671,0.250000
1,212,19,5:30,0.512506,-5.353088,0.002747,90.653687,0.005493,5,30,5,45.348186,0.012163,-45.45809,-0.000014,3,1,5.229167,0.509349,0.370590
2,212,20,12:15,0.668930,-5.353088,0.002747,90.653687,0.005493,12,15,6,45.348186,0.012163,-45.45809,-0.000014,3,1,6.510417,0.047507,1.000000
3,212,59,21:0,0.047361,-5.353088,0.002747,90.653687,0.005493,21,0,3,45.348186,0.012163,-45.45809,-0.000014,3,1,3.875000,0.971942,0.146447
4,212,60,10:45,1.000000,-5.353088,0.002747,90.653687,0.005493,10,45,4,45.348186,0.012163,-45.45809,-0.000014,3,1,4.447917,0.829673,0.933013

In [3]:
Y = df['demand'].values
del df

In [4]:
Y

array([0.02007179, 0.51250564, 0.66892989, ..., 0.00219915, 0.00222021,
       0.00306231])

In [5]:
lgb = pd.read_csv('lgb.csv')
lgb.head()

     demand
0  0.055830
1  0.385995
2  0.522770
3  0.037141
4  0.767220

In [6]:
xgb = pd.read_csv('xgb.csv')
xgb.head()

     demand
0  0.092139
1  0.352482
2  0.422664
3  0.108106
4  0.565468

In [11]:
import numpy as np

def rmse(y, y_hat):
    return np.sqrt(np.square(y - y_hat).mean())

## Normal mean

In [12]:
mean = (xgb['demand'] + lgb['demand']) / 2
rmse(Y, mean)

0.05222408754871679

## Geometric mean

In [17]:
from scipy.stats import gmean

In [14]:
xgb['lgb_demand'] = lgb['demand']
xgb.head()

     demand  lgb_demand
0  0.092139    0.055830
1  0.352482    0.385995
2  0.422664    0.522770
3  0.108106    0.037141
4  0.565468    0.767220

In [27]:
rmse(Y, gmean(xgb.values + 1, axis = 1) - 1)

0.052320141585776844

## Harmonic mean

In [28]:
from scipy.stats import hmean
rmse(Y, hmean(xgb.values + 1, axis = 1) - 1)

0.05241811162377949